    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <p>Dolor reprehenderit repellendus, optio labore odio at tempore debitis nisi. Quasi debitis tenetur eaque molestias non porro odio sapiente.</p>
                <p><a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </p>
                <a href="http://marzorati.co" target="_blank" title="Stefano Marzorati's Blog"> <i class="fa fa-pencil fa-3x"></i></a>
&emsp;
<a href="http://marzorati.co/curriculum-vitae/" title="Stefano Marzorati's Curriculum Vitae"> <i class="fa fa-file-text-o fa-3x"></i></a>
&emsp;
<a href="https://www.linkedin.com/in/stefanomarzorati" target="_blank" title="Stefano Marzorati Linkedin"> <i class="fa fa-linkedin fa-3x"></i></a>
&emsp;
<a href="http://twitter.com/marzorati_ste" target="_blank" title="Stefano Marzorati Twitter"> <i class="fa fa-twitter fa-3x"></i></a>
&emsp;
<a href="http://marzorati.co/contact/" title="Stefano Marzorati's Contact"> <i class="fa fa-envelope fa-3x"></i></a>
&emsp;
<a href="http://marzorati.co/feed/rss.xml" target="_blank" title="Stefano Marzorati Feed RSS"> <i class="fa fa-rss fa-3x"></i></a>
            </div>
        </div>
    </section>